name: tanstack-table-search-params
on:
  pull_request:
    branches:
      - main
jobs:
  type-check:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          cache: "pnpm"
      - run: pnpm i
      - run: pnpm type-check
  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: type-check
    steps:
      - uses: actions/checkout@v4
      - uses: biomejs/setup-biome@v2
        with:
          version: latest
      - run: biome ci
  test:
    name: Test
    runs-on: ubuntu-latest
    needs: type-check
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          cache: "pnpm"
      - run: pnpm i
      - run: pnpm test test
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: type-check
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          cache: "pnpm"
      - run: pnpm i
      - run: pnpm build
